*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared sytle */
.poppins-font {
  font-family: "Poppins", sans-serif;
}


.dark-gray{
    color: #3A3A3A;
}

/* text gray */
.medium-dark{
    color: #18191F;
}

/* dark color */
.black-color{
    color: #000000;
}

.display-flex{
    display: flex;
}


/* main style */
header{
    max-width: 1440px;
}

#navbar{
    max-width: 1200px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 87px;
}

#navbar h3{
    font-size: 1.5rem;
    font-weight: 700;
}

.menu{
    /* display: flex; */
    gap: 34px;
    align-items: center;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}

.menu li i{
    font-size: 1.25rem;
}
/* mobile view */
@media screen and (max-width: 576px) {
    #navbar{
        width: 93%;
        position: relative;
        margin: 35px 16px;
    }

    .menu li:not(:last-child){
        display: none;
    }

    .menu li:last-child{
        width: 24px;
        height: 24px;
    }

    #navbar .menu::before{
        content: "\2630";
        text-align: center;
        position: absolute;
        left: 0;
        cursor: pointer;
        color: #1B1B1B;
        width: 24px;
        height: 24px;
        padding: 6px 3px;
    }
    #navbar h3{
        margin: 0 auto;
        font-size: 1rem;
    }
}