*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared sytle */
.poppins-font {
  font-family: "Poppins", sans-serif;
}

.dark-gray{
    color: #3A3A3A;
}

/* text gray */
.medium-dark{
    color: #18191F;
}

/* dark color */
.black-color{
    color: #000000;
}

.display-flex{
    display: flex;
}

.btn{
    width: 196px;
    padding: 10px 24px;
    border-radius: 41px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    background-color: #E02C6D;
    border: none;
    justify-content: center;
    gap: 8px;
}


/* main style */
#navbar{
    max-width: 1200px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 87px;
}

#navbar h3{
    font-size: 1.5rem;
    font-weight: 700;
}

.menu{
    /* display: flex; */
    gap: 34px;
    align-items: center;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}

.menu li i{
    font-size: 1.25rem;
}

/* hero section  */
.hero-container{
    max-width: 1188px;
    gap: 131px;
    align-items: center;
    margin: 50px 132px 69px 120px;
}

.hero-content h2{
    font-size: 3.25rem;
    font-weight: 700;
}
.hero-content p{
    margin: 16px 0;
    font-size: 1rem;
    font-weight: 600;
}

.hero-image{
    position: relative;
    max-width: 475px;
    height: 475px;
}

.primary-image{
    position: relative;
    max-width: 440px;
    z-index: 10;
    transform: translate(-10px, 30px);
}

.bg-image{
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: -10px;
}

/* marketplaces section */
.logos{
    max-width: 1110px;
    margin: 69px auto 100px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 61px;
    box-shadow: 0 0px 4px -3px rgba(107, 105, 105);

}
.logos li{
    list-style: none;
}

.logos li a{
    text-decoration: none;
}

/* products */

.product-container{
    max-width: 1047px;
    margin: 0 auto;
}
.product-container h3{
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.75rem;
    font-weight: 600;
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 74px;
}

.item-card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 16px;
    border-radius: 5px;
}

.item-card img{
    max-width: 100%;
    margin-bottom: 16px;

}

.item-card h4{
    font-size: 1.75rem;
    color: #18191F;
    margin-bottom: 6px;
    font-weight: 500;

}

.item-card span{
    font-size: 1.5rem;
    color: #000000;
}

.item-card p{
    max-width: 196px;
    font-size: 0.85rem;
    color: #787885;
    margin: 10px 0;
}

.more-products{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.more-products a{
    text-decoration: none;
    color: #E02C6D;
    font-size: 1rem;
    font-weight: bold;
}

.more-products i{
    color: #E02C6D;
}

.featured-container{
    max-width: 1110px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 96px;
    margin: 100px auto;
}

.feautred-info h2{
    font-size: 2.3rem;
    font-weight: bold;
    color: #0A0826;
}

.feautred-info p{
    font-size: 1rem;
    font-weight: bold;
    color: #6C6C6C;
    margin: 16px 0;
}

.feautred-image{
    max-width: 404px;
}

.feautred-info button{
    border-radius: 0;
}

/* mobile view */
@media screen and (max-width: 576px) {
    #navbar{
        width: 93%;
        position: relative;
        margin: 35px 16px 0;
    }

    .menu li:not(:last-child){
        display: none;
    }

    .menu li:last-child{
        width: 24px;
        height: 24px;
    }

    #navbar .menu::before{
        content: "\2630";
        text-align: center;
        position: absolute;
        left: 0;
        cursor: pointer;
        color: #1B1B1B;
    }
    #navbar h3{
        margin: 0 auto;
        font-size: 1rem;
    }

    .hero-container{
        flex-direction: column;
        margin: 22px 0 0 0;
    }

    .hero-image{
        width: 75%;
        height: auto;
        /* margin: 0 auto; */
    }

    .hero-image img{
        width: 100%;
        height: auto;
        display: block;
    }

    .primary-image{
        top: 0;
        left: 0;
        max-width: 90%;
        transform: translate(5px, 25px);
    }


    .bg-image{
        transform: translate(10px, 0);
        
    }

    .hero-content{
        order: 2;
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .hero-content h2{
        font-size: 1.75rem;
        text-align: center;
    }

    .hero-content p{
        font-size: 1rem;
    }

    .logos{
        flex-wrap: wrap;
    }

    .items{
        grid-template-columns: 1fr;
    }

    .item-card{
        max-width: 90%;
        margin: 0 auto
    }

    .more-products{
        width: 95%;
    }

    .featured-container{
        flex-direction: column;
        margin: 50px auto;
        gap: 30px;
    }

    .feautred-info{
        order: 1;
        text-align: center;
    }

    .feautred-image{
        text-align: center;
        order: 2;

    }

    .feautred-image img{
        max-width: 90%
    }

    .feautred-info h2{
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .feautred-info p{
        padding: 0 15px;
    }



}