*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared sytle */
.poppins-font {
  font-family: "Poppins", sans-serif;
}


.dark-gray{
    color: #3A3A3A;
}

/* text gray */
.medium-dark{
    color: #18191F;
}

/* dark color */
.black-color{
    color: #000000;
}

.display-flex{
    display: flex;
}

.btn{
    width: 196px;
    padding: 10px 24px;
    border-radius: 41px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    background-color: #E02C6D;
    border: none;
    justify-content: center;
    gap: 8px;
}


/* main style */
#navbar{
    max-width: 1200px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 87px;
}

#navbar h3{
    font-size: 1.5rem;
    font-weight: 700;
}

.menu{
    /* display: flex; */
    gap: 34px;
    align-items: center;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}

.menu li i{
    font-size: 1.25rem;
}

/* hero section  */
.hero-container{
    max-width: 1188px;
    gap: 131px;
    align-items: center;
    margin: 50px 132px 69px 120px;
}

.hero-content h2{
    font-size: 3.25rem;
    font-weight: 700;
}
.hero-content p{
    margin: 16px 0;
    font-size: 1rem;
    font-weight: 600;
}

.hero-image{
    position: relative;
    max-width: 475px;
    height: 475px;
}

.primary-image{
    position: relative;
    max-width: 440px;
    z-index: 10;
    transform: translate(-10px, 30px);
}

.bg-image{
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: -10px;
}

/* marketplaces section */
.logos{
    max-width: 1110px;
    margin-top: 69px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.logos li{
    list-style: none;
}

.logos li a{
    text-decoration: none;
}

/* mobile view */
@media screen and (max-width: 576px) {
    #navbar{
        width: 93%;
        position: relative;
        margin: 35px 16px 0;
    }

    .menu li:not(:last-child){
        display: none;
    }

    .menu li:last-child{
        width: 24px;
        height: 24px;
    }

    #navbar .menu::before{
        content: "\2630";
        text-align: center;
        position: absolute;
        left: 0;
        cursor: pointer;
        color: #1B1B1B;
    }
    #navbar h3{
        margin: 0 auto;
        font-size: 1rem;
    }

    .hero-container{
        flex-direction: column;
        margin: 22px 0 0 0;
    }

    .hero-image{
        width: 75%;
        height: auto;
        /* margin: 0 auto; */
    }

    .hero-image img{
        width: 100%;
        height: auto;
        display: block;
    }

    .primary-image{
        top: 0;
        left: 0;
        max-width: 90%;
        transform: translate(5px, 25px);
    }


    .bg-image{
        transform: translate(10px, 0);
        
    }

    .hero-content{
        order: 2;
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .hero-content h2{
        font-size: 1.75rem;
        text-align: center;
    }

    .hero-content p{
        font-size: 1rem;
    }

}